<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="button.css">
</head>
<body> 
    <form action="{{.key}}" target="_self">
        <button >Сеничка</button>
    </form>
    <form action="{{.key2}}" target="_self">
        <button >Воробей</button>
    </form>
    <form action="{{.key3}}" target="_self">
        <button >Ворон</button>
    </form>
    <form action="{{.key4}}" target="_self">
        <button >Орёл</button>
    </form>
    <form action="{{.key5}}" target="_self">
        <button>Голубь</button>
    </form>
</body>
</html>